
@import '../../../_variable.scss';

.cart-detail{
    padding: 2.5rem;
    
    .tb-header, .tb-footer{
        color: $c-navy-green;
        font-size: $fs-small;
    }
    .tb-footer{
        margin-top: 2rem;
        font-size: 1rem;
        font-weight: $fw-bold;
        color: $c-navy-green;
    }
}