
@import '../../../variable';
.products{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border: 1px solid $c-lighter-green;
    line-height: 1.5;
    img{
        object-fit: contain;
        width: 100%;
        height: 60%;
        margin-bottom: 2rem;
    }
    .category{
        text-transform: capitalize;
        font-weight: $fw-semibold;
    }
    .title{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 3em;
    }
    .price{
        color: $c-green;
        font-size: 1.2rem;
        font-weight: $fw-bold;
    }
    .rating{
        margin-bottom: 2rem;
    }

}