@import '../../variable';

.navbar{
    width: 100vw;
    min-height: 50px;
    padding: 1rem;
    position: fixed;
    top:0;
    left:0;
    background: $c-green;
    z-index: 1000;
    transition: all .1s ease;
    .nav-fullsize{
        width: 100%;
        padding: .5rem 3rem;
        img{
            margin: 0;
        }
        .menu{
            margin: 0;
            .menu-item{
                padding-inline: 0.5rem;
                color: #fff;
                margin: 0;
            }
            .img-icons{
                padding-left: 1rem;
                filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(344deg) brightness(101%) contrast(101%);
            }
        }
    }
}